* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ol, ul, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="container-bar"] {
    height: 100px;
    padding: 0 50px;
}

/* HEADER */

.container-side {
    background-color: rgb(27, 174, 140);
    width: 300px;
    height: calc(100% - 100px);
    padding: 50px;
    position: fixed;
    left: 0;
}

.row.side {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    margin-bottom: 30px;
}

/* FOOTER */

.container-bar-foot {
    background-color: darkslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.row.foot {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.list-foot {
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

/* MAIN bar */

.container-main {
    position: absolute;
    right: 0;
    width: calc(100% - 300px);
}

.container-bar-main {
    background-color: rgb(172, 82, 113);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.container-bar-main a {
    border-radius: 999px;
    padding: 20px;
    background-color: white;
    border: none;
    color: black;
}

.row.main-bar {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* MAIN content */

.container-section {
    background-color: rgb(189, 123, 146);
    height: fit-content;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100px;
    padding: 30px 30px 130px 30px;
}

h2 {
    padding: 30px 0;
}

.box-sezione {
    border-left: 2px solid white;
    padding: 0 15px;
    margin: 0 150px 30px 0;
}

.text-section :is(p, ul) {
    padding: 0 0 15px 0;
    list-style: square inside;
}

.row.gallery {
    gap: 20px;
}

img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    display: block;
}