* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ol, ul, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

.container-side {
    background-color: rgb(27, 174, 140);
    width: 300px;
    height: calc(100% - 100px);
    padding: 50px;
    position: fixed;
    left: 0;
}

.row.side {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    margin-bottom: 30px;
}

/* FOOTER */

.container-foot {
    background-color: darkslategray;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    position: fixed;
    bottom: 0;
}

.row.foot {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.list-foot {
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}